/*Root*/

* {
    box-sizing: border-box;
}
:root {
    --main-font-size: 16px;
    --main-logo-color: rgb(236, 136, 4);
    --main-logo-width: 14px;
    --main-logo-border-radius: calc(var(--main-logo-width)/2);
    --main-font-color: #868a75;
    --main-width-of-form: 400px;
}

/*base layouts, background-image*/

body {
    display: flex;
    flex-direction: row-reverse;
    background-image: url(../Images/models.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* form container */

.form.container {
    width: max(50vw, 500px);
    height: 100vh;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
}
form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    
}
.border {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: var(--main-width-of-form);
}

/* Warning box*/

.warning-container {
    border: 1px solid gray;
    border-left: 4px solid rgb(175, 149, 0);
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(24, 24, 24, 0.5);
    font-size: 20px;
    font-family: 'VT323', monospace;
    line-height: 17px;
    display: flex;
}
.warning {
    color: var(--main-font-color);
}
.material-symbols-outlined {
    margin-right: 15px;
    color: rgb(175, 149, 0);
    display: flex;
    align-self: center;
}

/* Form */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: var(--main-font-color);
    letter-spacing: 4px;
}
label {
    font-family: 'Source Sans Pro', sans-serif;;
    color: #868a75;
    font-size: 17px;
}
button, 
input {
    font-family: inherit;
    font-size: 100%;
}
input {
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background: none;
    height: 40px;
    color: white;
}
form > div {
    display: flex;
    flex-direction: column;
}
.button-div {
    border: none;
    display: flex;
    align-items: center;
}
button {
    width: 170px;
    background: none;
    border: 4px solid var(--main-font-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: var(--main-font-color);
    font-size: 23px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 30px;
}
button:hover {
    background-color: rgba(134, 136, 127, 0.3);
    color: #a1a58e;
    border-color: #a1a58e;
}
form > div > label, input {
    display: flex;
    width: calc(var(--main-width-of-form) - 10px);

}
.inside-form {
    border-bottom: 4px solid var(--main-font-color);
    border-radius: 1px 3px 1px 3px;
    margin-top: 20px;
    padding: 5px 5px 0px 5px;
}
input {
    font-family: 'Source Sans Pro', sans-serif;;
}
input:focus {
    outline: none;
}

/* log in */

.log-in {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #868a75;
    letter-spacing: -1px;
}
a {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-logo-color);
    letter-spacing: -1px;
}   

/* logo */  

.logo-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: calc(75vw - 90px);
    bottom: 5%;
}
.logo {
    
    position: relative;
    height: 100px;
    width: 80px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
}
.tall {
    width: var(--main-logo-width);
    height: 80px;
    background-color: var(--main-logo-color);
    border-radius: var(--main-logo-border-radius);
    box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 4px;
}
.short {
    height: 77%;
    width: var(--main-logo-width);
    border-radius: var(--main-logo-border-radius);
    background-color: var(--main-logo-color);
    box-shadow: rgba(0, 0, 0, 0.45) 2px 2px 4px;
}
.wallace {
    font-size: 30px;
    color: var(--main-logo-color);
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 10px;
    font-weight: bold;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    height: 25px;
}
.corporation {
    font-family: 'Exo 2', sans-serif;
    color: var(--main-logo-color);
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    height: 18px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
/*copyright*/

.copyright {
    position: absolute;
    bottom: 10px;
}
.copyright div {
    font-family: Arial, Helvetica, sans-serif;
    color: #1e1f1d;
    font-size: 12px;
}